/* Placeholder background colors for category icons */
.category-placeholder-1 {
  background: #c1dd54;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.category-placeholder-2 {
  background: #37b4e9;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.category-placeholder-3 {
  background: #ef8c8c;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.category-placeholder-4 {
  background: #ffe54c;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.category-placeholder-5 {
  background: #7fc2f8;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.category-placeholder-6 {
  background: #f86b9b;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.category-placeholder-7 {
  background: #ffbe5f;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.category-placeholder-8 {
  background: #ff9a70;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.category-placeholder-9 {
  background: #ffd02e;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.category-placeholder-10 {
    background: #ffd02e;
    border: 1px solid rgba(255, 255, 255, 0.3);
  } 